@font-face {
    font-family: ONY_ONE;
    src: url('ony/ONYOne-Regular.otf') format('otf');
    font-style: normal;
}
@font-face {
    font-family: ONY_TRACK;
    src: url('ony/ONY_MOSCOWbrand-Wide.otf') format('otf');
    font-style: normal;
}