.bx-red,
.bx-theme-red {
    --primary: #E30613;
    --theme-color-primary: #E30613;
    --theme-color-second: #e95c5c;
    --theme-color-light: #f0f0f0;
    --theme-b-link: #E30613;
    --theme-b-link-hover: #ff4854;
    --theme-b-tx-primary: #fff;
    --theme-b-bg-primary: #E30613;
    --theme-b-bd-primary: #E30613;
    --theme-b-sd-primary: rgba(226, 43, 43, 0.5);
    --theme-b-tx-primary-hover: #fff;
    --theme-b-bg-primary-hover: #e95c5c;
    --theme-b-bd-primary-hover: #d05454;
    --theme-b-tx-primary-active: #fff;
    --theme-b-bg-primary-active: #e95c5c;
    --theme-b-bd-primary-active: #d05454;
    --theme-b-tx-primary-disabled: #fff;
    --theme-b-bg-primary-disabled: #d05454;
    --theme-b-bd-primary-disabled: #c04e4e;
}


/*@font-face {
    font-family: ONY_ONE;
    src: url('css/fonts/ony/ONYOne-Regular.otf') format('otf');
    font-style: normal;
}*/
/*@font-face {
    font-family: ONY_TRACK;
    src: url('css/fonts/ony/ONY_MOSCOWbrand-Wide.otf') format('otf');
    font-style: normal;
}*/
body {
    background-attachment: fixed;
    background-size: cover;
    font-family: ONY One, Helvetica, Arial, sans-serif;
    /*font-family: YS Text, Helvetica, Arial, sans-serif;*/
    /*font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;*/
    font-size: 16px;
}

#pagetitle {
    margin-bottom: 35px;
}

h1, h2, h3, h4, h5 {
    /*font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-regular, 400);*/
}

.bx-content-section,
.bx-header-section {
    padding-bottom: 2px;
    background-color: rgba(255, 255, 255, .95);
}

.bx-wrapper {
}

/*region HEADER*/
.bx-header {
}

.bx-header-section {
}

.bx-header-logo {
    order: 1
}

.bx-header-personal {
    order: 3
}

.bx-header-contact {
    order: 2
}

/*region Logo*/
.bx-logo-block {
    display: block;
    height: 50px;
    border-bottom: none;
}

.bx-logo-block img {
    max-height: 50px;
    width: auto;
}


@media (max-width: 767px) {
    .bx-logo-block img {
        max-width: 100%;
        max-height: 45px;
        width: auto;
        height: auto;
    }


    .bx-aside-nav-control.bx-closed,
    .bx-menu-button-mobile, .bx-aside-nav {
        background-color: #E30613;
    }

    .bx-aside-nav {
        top: 100px;
    }

    .bx-aside-nav ul li a span {
        color: #fff;
    }

    .bx-header-logo {
        padding: 5px 50px;
        height: 55px;
        /* background-color: var(--theme-color-primary);*/
    }

    .bx-logo-block {
        height: auto;
    }


}

/*endregion*/

/*region included Phone*/
.bx-header-phone-block {
    display: flex;
    align-items: center;
}

.bx-header-phone-number {
    color: #000;
    white-space: nowrap;
    font: 21px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-semi-bold, 600);
    transition: 250ms linear all;
}

.bx-header-phone-icon {
    display: block;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    background: no-repeat center url(images/phone.svg);
}

@media (max-width: 991px) {
    .bx-header-phone-number {
        font: 15px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
        font-weight: var(--ui-font-weight-semi-bold, 600);
    }
}

/*endregion*/

/*region included Worktime*/
.bx-header-worktime {
    color: #000;
    font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-semi-bold, 600);
    transition: 250ms linear all;
}

.bx-worktime-title {
    color: #adadad;
    font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-regular, 400);
}

.bx-worktime-schedule {
    color: #000;
    font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-regular, 400);
}

@media (max-width: 991px) {
    .bx-header-worktime {
        font: 15px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
        font-weight: var(--ui-font-weight-regular, 400);
    }
}

/*endregion*/

/*endregion*/

.sidebar-block-title {
    color: #343434;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-semi-bold, 600);
}

/*region FOOTER*/
.bx-footer {
    background-color: #E30613 !important;
}

.bx-footer-section {
}

.bx-footer-section .bx-block-title {
}

.bx-footer-bg {
    background-color: #1f496a;
}

.bx-footer-logo {
    border-bottom: none !important;
    text-decoration: none !important;
}

.bx-footer-logo img {
    max-width: 100%;
    height: auto;
}

/*endregion*/

.bx-inclinkspersonal-item.bx-theme-blue:hover {
    background: #0083d1;
}

.bx-theme-blue.bx-inclinkspersonal-selected {
    background: #3398d7;
}

.bx-inclinkspersonal-item.bx-theme-black:hover {
    background: #303030;
}

.bx-theme-black.bx-inclinkspersonal-selected {
    background: #484848;
}

.bx-inclinkspersonal-item.bx-theme-green:hover {
    background: #44b1c9;
}

.bx-theme-green.bx-inclinkspersonal-selected {
    background: #5cc3d1;
}

.bx-inclinkspersonal-item.bx-theme-red:hover {
    background: #e63c3c;
}

.bx-theme-red.bx-inclinkspersonal-selected {
    background: #e95c5c;
}

.bx-inclinkspersonal-item.bx-theme-yellow:hover {
    background: #f4a52e;
}

.bx-theme-yellow.bx-inclinkspersonal-selected {
    background: #fbb859;
}

/*region Bootstrap modified*/
.btn-primary,
.list-group-item.active {
    border-color: var(--theme-b-bd-primary);
    background-color: var(--theme-b-bg-primary);
    color: var(--theme-b-tx-primary);
}

.btn-primary:hover {
    border-color: var(--theme-b-bd-primary-hover);
    background-color: var(--theme-b-bg-primary-hover);
    color: var(--theme-b-tx-primary-hover);
}


.btn-primary.disabled,
.btn-primary:disabled {
    border-color: var(--theme-b-bg-primary);
    background-color: var(--theme-b-bg-primary);
    color: var(--theme-b-tx-primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    border-color: var(--theme-b-bd-primary-active);
    background-color: var(--theme-b-bg-primary-active);
    color: var(--theme-b-tx-primary-active);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--theme-b-sd-primary);
}

.form-control:focus {
    border-color: var(--theme-color-primary);
    box-shadow: 0 0 0 0.2rem var(--theme-b-sd-primary);
}

a,
.btn-link {
    color: var(--theme-b-link);
}

a:hover,
.btn-link:hover {
    color: var(--theme-b-link-hover);
}

.g-font-size-15 {
    font-size: 15px;
}

.g-font-size-17 {
    font-size: 17px;
}

.g-font-size-20 {
    font-size: 20px;
}

.text-primary {
    color: var(--primary) !important
}

.bg-primary {
    background: var(--primary) !important
}

.border-primary {
    border-color: var(--primary) !important
}

/*endregion*/

.bx-sidebar-block {
}

.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-semi-bold, 600);
}

.sidebar li {
    font-size: 12px;
    font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
    font-weight: var(--ui-font-weight-semi-bold, 600);
}

.sidebar-icon {
    width: 27px;
    height: 27px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--theme-color-primary);
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-icon-label {
    background-image: url(images/label.svg);
    background-size: 19px auto;
}

.sidebar-icon-delivery {
    background-image: url(images/delivery.svg);
    background-size: 17px auto;
}

.sidebar-icon-sale {
    background-image: url(images/sale.svg);
    background-size: auto 17px;
}

.sidebar-icon-self {
    background-image: url(images/self.svg);
    background-size: auto 17px;
}

.sidebar-icon-phone {
    background-image: url(images/phone_white.svg);
    background-size: auto 21px;
}

/*
NEW*/
.row-content {
    justify-content: center;
}

.stiky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1111;
}

.lab-banner-img {
    position: relative;
    min-height: 700px;
}

.lab-banner-img img {
    position: absolute;
}

.lab-banner-img img.num-1 {
    top: 40%;
    right: 1%;
}

.lab-banner-img img.num-2 {
    bottom: 10%;
    right: 15%;
    transform: rotate(-15deg);
}

.lab-banner-img img.num-3 {
    right: 1%;
    top: -7%;
}

.lab-banner-img img.num-4 {
}

.lab-banner {
    background-color: #E30613;
    display: flex;
    flex-wrap: nowrap;
}

.lab-banner_text-big1,
.lab-banner_text-big2 {

    color: #fff;
    font-size: 129px;
    font-family: ONY Moscow Wide, Arial, sans-serif;
    line-height: 1.15;
    font-weight: 900;
    text-transform: uppercase;
}

.lab-banner_text-small1,
.lab-banner_text-small2 {
    color: #fff;
    font-size: 35px;
}

.lab-banner_text-wrapp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.lab-banner_text-wrapp, .lab-banner_text-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lab-align-right {
    text-align: right;
}

.see-balls {
    height: 160px;
    background-color: #E30613;
    margin-bottom: 100px;
}

.flex {
    display: flex;
}

.order1, .order2 {
    display: flex;
}

.order1 .li, .order2 .li, .order11 .li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order1 .li .ord-txt, .order2 .li .ord-txt, .ord-txt {
    font-size: 22px;
    line-height: 24px;
    padding-left: 10%;
}

.order1 .li .span, .order2 .li .span, .order11 .li .span {
    border-radius: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #E30613;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;

}

.order11 {
    flex-wrap: wrap;

}

.table {

}

.table td .td {
    display: flex;

}

.table td .td .span {
    border-radius: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #E30613;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;

}

.see-balls {
    font-weight: 900;
    color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.see-balls_wrapp {
    text-decoration: none;
}

.alert.alert-danger {
    z-index: 11111;
}

#bx-soa-region,
#bx-soa-delivery,
#bx-soa-pickup,
#bx-soa-paysystem {
    display: none;
}

.title-search-result {
    z-index: 44444 !important;
}

.bx_searche .bx_item_element a {
    color: #E30613 !important;
}

.btn-danger {
    color: #fff;
    background-color: #E30613;
    border-color: #E30613;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ff4854;
    border-color: #ff4854;
}

.text-orders {
    flex-direction: column;
}

.text-orders .orders-text_top {
    margin: 100px 0;
    font-size: 30px;
    line-height: 1.45;
    margin-left: auto;
    margin-right: auto;
}

.text-orders .orders-text_top div {
    text-align: center;
    font-weight: 900;
}

.text-orders .orders-text_bottom {
    font-size: 38px;
    line-height: 1.23;
}

.text-orders .orders-text_bottom div {
    text-align: center;
    font-weight: 900;
}

.text-orders table.table {
    margin: 50px 0;
    border: none !important;
}

.text-orders table.table tr td {
    border: none !important;
}

.more {
    background-color: #e30613;
    border-style: none !important;
    border-radius: 30px;
    padding: 20px;
}

.product-item-container .product-item-title a {
    color: #e30613;
}

.mt-20 {
    margin-top: 40px
}

.lab-banner-img {
    /* background: url("/bonus-shop/include/banner.png") no-repeat 0 -110px;;
     background-size: cover;*/
}

.bx-header {
    -webkit-box-shadow: -1px 7px 8px -2px rgba(34, 60, 80, 0.45);
    -moz-box-shadow: -1px 7px 8px -2px rgba(34, 60, 80, 0.45);
    box-shadow: -1px 7px 8px -2px rgba(34, 60, 80, 0.45);
    padding-bottom: 10px;
}

.l-order_row-cell{
    align-items: flex-start;
}
.l-order_row-bottom{
    margin-top: 40px;
}

.l-order_row-cell div {
    align-items: center;
}

.l-order {
    flex-wrap: wrap;
}

.l-order_row-cell-right {
    font-size: 22px;
}


.lab-accordion-faq {
    font-size: 38px;
    font-family: ONY Moscow Wide;
}

.lab-accordion-faq section.accordion .tab__label {
    font-size: 24px;
}

.lab-accordion-wrapp {
    justify-content: center;

}

.lab-accordion-wrapp .accordion {
    justify-content: center;
    flex-wrap: wrap;

}

.l-order_row-cell-left .circle {
    justify-content: center;
    background-color: #e30613;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-family: 'ONY Moscow Wide';
}

.btn-primary:focus {
    border-color: var(--theme-b-bd-primary-hover);
    background-color: var(--theme-b-bg-primary-hover);
    color: var(--theme-b-tx-primary-hover);
}

.alert-danger {
    font-size: 18px;
}

@media (max-width: 1500px) {
    .lab-banner_text-big1, .lab-banner_text-big2 {
        font-size: 100px;
    }

    .lab-banner-img img.num-3 {
        right: 1%;
        top: 1%;
    }

    .lab-banner_imgs-wrapp img {
        width: 650px;
        height: 600px;
    }
}

@media (max-width: 1024px) {
    .l-order_row-cell-right {
        padding-left: 5px;
    }

    .lab-banner_text-big1, .lab-banner_text-big2 {
        font-size: 80px;
    }

    .lab-banner_text-small1, .lab-banner_text-small2 {
        font-size: 25px;
    }

    .l-order_row-cell-left .circle {
        width: 40px !important;
        height: 40px !important;

    }

    .l-order_row-cell-left {
        justify-content: center;
    }

    .lab-banner_imgs-wrapp img {
        width: 550px;
        height: 500px;
    }

    .lab-banner {
        height: 500px;
    }
}

/*//lab-banner*/
@media (max-width: 900px) {

    .lab-banner_text-big1, .lab-banner_text-big2 {
        font-size: 70px;
    }

    .lab-banner_text-small1, .lab-banner_text-small2 {
        font-size: 20px;
    }

    .lab-banner {
        flex-direction: column;
        height: 600px;
    }

    .lab-banner_text-big1, .lab-banner_text-big2 {
        font-size: 80px;
    }

    .lab-banner-img img.num-3 {
        right: 20%;
        top: -5%;
    }

    .lab-banner_imgs-wrapp img {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 600px) {

    .lab-banner_text-big1, .lab-banner_text-big2 {
        font-size: 50px;
    }

    .lab-banner_text-small1, .lab-banner_text-small2 {
        font-size: 16px;
    }

    .lab-banner {
        flex-direction: column;
        height: 600px;
    }

    .lab-banner-img img.num-3 {
        right: 10%;
        top: -5%;
    }

    .lab-banner_imgs-wrapp img {
        width: 400px;
        height: 350px;
    }
}

@media (max-width: 500px) {
    .lab-banner {
        height: fit-content;
        padding: 20px 0;
    }

    .lab-banner-img {
        display: none;
    }


}

.bx-red .product-item-label-text span, .bx-red .product-item-label-ring , .interlab-form button{
    background-color: #e30613 !important;
}
.interlab-form button{
    color: #F2F2F2;;
    border: #e30613;
}

.owl-carousel .owl-item img {
    min-height: 400px;
    max-height: 400px;
}

.bx-aside-nav ul {
    display: flex;
}
.js-interlabs-feedbackform__dialog__send-button{
    border-radius: 10px;
}
.interlabs-feedbackform__container #MESSAGE{
    height: 65px;
}




